[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/vim-airline/vim-airline
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-merginal"]
	path = bundle/vim-merginal
	url = git://github.com/idanarye/vim-merginal
[submodule "bundle/vim-bufkill"]
	path = bundle/vim-bufkill
	url = git://github.com/qpkorr/vim-bufkill
[submodule "minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = git://github.com/bling/vim-bufferline
